

<section class="single-blog-post">
    <div class="card">
      <div class="card-header">
        <h3>{{title}}</h3>
      </div>

      <div class="card-body">
        <p>{{content}}</p>
      </div>

      <div class="card-footer">
        <p>Created by {{user.username}} on {{format_date date_created}}</p>
      </div>

      {{#if comments.[this.id]}}
        <div class="comments">
          {{> comments comments.[this.id]}}
        </div>
      {{/if}}

      <div class="comment-form" data-blog-id="{{this.id}}">
        <form action="/blog/{{this.id}}/comment" method="POST">
          <textarea class="comment-text" name="comment-content" placeholder="Write a comment"></textarea>
          <input type ="hidden" name="user-id" value="{{user.id}}">
          <input type="hidden" name="blog-id" value="{{this.id}}">
          <button class="c-button c-button--info u-xsmall" type="submit">Submit</button>
        </form>
      </div>

      {{#if comments.[this.id]}}
      <div class="comments">
        <h4>Comments</h4>
        {{#each comments.[this.id]}}
          <div class="comment">
            <p><strong>{{user.username}}</strong>: {{comment_text}}</p>
          </div>
        {{/each}}
      </div>
      {{/if}}
    </div>
 
</section>

<script src="/js/comment.js"></script>
