<header d-flex justify-content-between align-items-center class="p-4 c-heading u-xlarge">
      <h1><a href="/">The Tech Blog</a></h1>
</header>

<section class="blog-posts">
   {{#each blogs as |blog|}}
    <div class="card">
      <div class="card-header">
        <h3>{{title}}</h3>
      </div>

      <div class="card-body">
        <p>{{content}}</p>
      </div>

      <div class="card-footer">
        <p>Created by {{user.username}} on {{format_date date_created}}</p>
      </div>

{{> comments blog.comments }}

    <div class="comment-form" data-blog-id="{{blog.id}}" style="display: none;">
      <form action="/blog/{{blog.id}}/comment" method="POST">
        <textarea class= "comment-text" name="comment-content" placeholder="Write a comment"></textarea>
        <input type="hidden" name="blog-id" value="{{blog.id}}">
        <button type="button" class="c-button c-button--info" type="submit">Submit</button>
      </form>
    </div>

    </div>

    <button type="button" class="c-button add-comment-btn u-small" data-blog-id="{{blog.id}}">Add Comment</button>

    </div>
   {{/each}}
  </section>
<script src="/js/comment.js"></script>



