<header d-flex justify-content-between align-items-center class="c-heading u-xlarge">
  <h1><a href="/">The Tech Blog</a></h1>
</header>

<section class="blog-posts">
  {{#each blogs}}
    <div class="card" id="blog-post" data-post-id="{{ blog.id }}">
      <div class="card-header">
        <h3><a href="/blog/{{id}}">{{title}}</a></h3>
      </div>

      <div class="card-body">
        <p>{{content}}</p>
      </div>

      <div class="card-footer">
        <p>Created by {{user.username}} on {{format_date date_created}}</p>
      </div>
    
    </div>
  {{/each}}
</section>

<script src="/js/logout.js"></script>

